The following gives detail as to what "change and access data" really means.

The extension requires access to the following to operate:
arkhamnetwork.org - Required in order to darken the look of the forums.
